<div id="dateTimeNotValidToast" class="toast fade hide toast-error" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">ERROR</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Date-Time not valid. Please enter a valid date and time.</div>
</div>

<div id="dateTimeAlreadyAddedToast" class="toast fade hide toast-warning" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">WARNING</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Date-Time has already been added.</div>
</div>

<div id="successfullyCreatedAppointmentToast" class="toast fade hide toast-success" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">SUCCESS</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Appointment has been created successfully.</div>
</div>