/* BOOTSTRAP */

.toast-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100000;
}

/* CUSTOM */

.date-time {
    font-size: 20px;
}

.delete-date-time-button {
    position: absolute;
    right: 20px;

    background-color: transparent;
    border: none;
    color: white;
}

/* APPOINTMENT */

.appointment {
    margin-bottom: 5px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-radius: 15px 50px;
    border-color: blue;
    
}

.no-appointments {
    margin-bottom: 5px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-style: solid;
    border-radius: 15px 50px;
    border-color: blue;
    color: red;
}

h2 {
    color:#0688fa;
}

.showMoreButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    margin-bottom: 1%;
}
.showMoreButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.showMoreButton:active {
	position:relative;
	top:1px;
}

.voted {
    background-color: pink;
}