<div id="usernameEmptyToast" class="toast fade hide toast-error" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">ERROR</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Username: Must not be empty.</div>
</div>

<div id="usernameTooShortToast" class="toast fade hide toast-error" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">ERROR</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Username: Is too short. Minimum of 3 character(s) is/are required.</div>
</div>

<div id="usernameTooLongToast" class="toast fade hide toast-error" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">ERROR</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Username: Is too long. Maximum of 30 characters are allowed.</div>
</div>

<div id="successfullyLoggedInToast" class="toast fade hide toast-success" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">SUCCESS</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Logged in successfully.</div>
</div>